@import url(https://fonts.google.com/specimen/Dancing+Script);
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@font-face {
  font-family: DancingScript;
  src: url(https://fonts.google.com/specimen/Dancing+Script);
  font-family: Courgette;
  src: url(https://fonts.google.com/specimen/Courgette#glyphs);
}

p { font-family: Gentium, serif; }

html{
	background-color: #fffcf2;
	margin: auto; background-size: cover;
}

body{
	margin: 0px;
}

.header{
	display: flex; flex-direction: row;

}
.header-title{
	color: #fffcf2; padding-left: 10px; font-family: Amatic SC, cursive;
	margin: 0px; padding-right: 550px; font-size: 40px;
}

.menu{
	height: 44px;
}

.nav-list {
	display: flex;
	height: 44px;
	font-family: Amatic SC, cursive;
	font-size: 24px;
	padding-left: 0px;
}

.nav-list-item {
	display: flex;
	list-style: none;
	align-items: center;
	padding-bottom: 30px;
}

.nav-list-item-link {
	display: block;
	color: #fffcf2;
	text-decoration: none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 16px; padding-bottom: 16px;
	border-bottom: none; border-radius: 3px;
}


.body{
	background-color: #fffcf2; 	
    margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
    padding-left: 120px; padding-right: 130px;

}

.article{ 
	background-color: #fffcf2; 	display: flex; flex-direction: row;
	margin-top: 500px; padding-top: 50px;
}

.content{
	padding-top: 50px; padding-left: 150px;
}
.header-title1{
	font-size: 26px;font-family: 'Courgette', cursive;
}

.background{
	background-color: #CCC5B9; padding-left: 60px; padding-top: 16px;
	width: 450px; height: 230px; border-radius: 10px; padding-bottom: 30px;
}

.p1{
	line-height: 1.83; font-size: 20px;
}

.article2{
	margin-top: 50px;
}

.header-title3{
	font-family: 'Courgette', cursive; font-size: 36px;  padding-left: 430px;
	max-width: 200px;
}
	
.pics{
	display: flex; flex-direction: row;
}
.Y{

	margin-right: 60px;
}

.X{
	margin-right: 60px;
}


.article3{
	margin-top: 50px; padding-left: 280px;
}

.background2{
	background-color: #CCC5B9; padding-left: 50px; padding-top: 16px; padding-right: 50px;
	width: 430px; height: 230px; border-radius: 10px;padding-bottom: 5px;
}

.header-title2{
	padding-left: 160px; display: flex;  
	align-self:center; font-family: 'Courgette', cursive; 
	font-size: 26px; 
}

.p2{
	line-height: 1.83; font-size: 20px; padding-left: 5px;
}

.article4{
	margin-top: 50px;
	padding-bottom: 50px;
	padding-left: 250px; 
	font-family: 'Courgette', cursive; 
}

.header-title4{
	font-family: 'Courgette', cursive; padding-left: 130px;
}
.left-content{
	padding-left: 100px; 	
}

.form{
	padding-left: 100px;
}

.footer {
	text-align: center; font-size: 14px; color:#fffcf2;
	padding-bottom: 20px; padding-top: 16px;  margin-bottom: 0px;
	background-color: #403d39;
	font-family: ArialMT Regular;
}

